@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	--bg1: #F1F1F8;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Inter',
	Arial,
	Helvetica,
	sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;

	@each $key,
	$value in $colors {
		@include getColors($value, $key);
	}
}

[data-theme="dark"] {

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
	@include getColors(#ffffff, text);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--bg1);
	color: var(--color-text);

	* {
		font-family: var(--font-base);
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

section {
	padding-top: 74px;
	padding-bottom: 74px;

	@media(max-width:$md) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	@media(max-width:$sm) {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.title {
	font-size: 48px;
	font-weight: 600;

	@media(max-width:$lg) {
		font-size: 38px;
	}

	@media(max-width:$md) {
		font-size: 28px;
	}

	@media(max-width:$sm) {
		font-size: 22px;
	}
}

.section-header {
	margin-bottom: 50px;

	@media(max-width:$md) {
		margin-bottom: 40px;
	}

	@media(max-width:$sm) {
		margin-bottom: 30px;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 36px;
	padding-bottom: 36px;
	transition: .2s ease;
	z-index: var(--zi-l1);

	@media(max-width:$sm) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&.scrolled {
		padding-top: 15px;
		padding-bottom: 15px;
		background: #fff;

		@media(max-width:$sm) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	&-logo {
		width: 174px;

		@media(max-width:$md) {
			width: 140px;
		}

		@media(max-width:$sm) {
			width: 100px;
		}
	}

	&-sign {
		margin-left: 48px;

		@media(max-width:$lg) {
			display: none;
		}

	}

	&-soc {
		display: flex;
		margin-left: auto;
		gap: 12px;
	}

	&-phone {
		margin-left: 70px;
		font-size: 18px;
		font-weight: 700;

		@media(max-width:$md) {
			margin-left: 20px;
			font-size: 16px;
		}

		@media(max-width:$sm) {
			margin-left: 10px;
			font-size: 0px;
		}
	}
}

.started {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	height: 950px;
	padding-top: 150px;
	padding-bottom: 50px;

	@media(max-width:$lg) {
		height: auto;
	}

	@media(max-width:$sm) {
		padding-top: 80px;
	}

	&-content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		position: relative;
		z-index: 2;
	}

	&-title {
		background: linear-gradient(270.31deg, rgba(253, 143, 217, 0.4) 0.13%, rgba(255, 227, 246, 0) 64.36%), #0A0A0A;
		-webkit-background-clip: text;
		background-clip: text;
		font-size: 48px;
		font-weight: 700;
		line-height: 1.1;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;

		@media(max-width:$md) {
			font-size: 38px;
		}

		@media(max-width:$sm) {
			font-size: 28px;
		}
	}

	&-subtitle {
		margin-top: 30px;

		@media(max-width:$sm) {
			margin-top: 20px;
			font-size: 14px;
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		margin-top: 58px;
		gap: 24px;

		@media(max-width:$md) {
			gap: 16px;
		}

		@media(max-width:$sm) {
			margin-top: 32px;
			gap: 0;
		}

		&-item {
			display: flex;
			align-items: center;

			@media(max-width:$sm) {
				font-size: 14px;
			}
		}
	}

	&-img {
		position: absolute;
		inset: 0;
		pointer-events: none;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-gift {
		width: 524px;
		max-width: 100%;
		margin-top: 58px;
		padding: 36px 32px;
		background: url("../img/started-gift.png") no-repeat right bottom / contain, #FFFFFF;
		background:
			url("../img/started-gift.png") no-repeat right bottom / contain,
			radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
		border: 2px solid rgba(255, 255, 255, 0.33);
		// border-image-source: linear-gradient(104.71deg, #FFFFFF 1.09%, rgba(255, 255, 255, 0.33) 100%);


		border-radius: 24px;
		border-radius: 24px;
		box-shadow: 0px 20px 40px rgba(2, 0, 83, 0.12);

		@media(max-width:$sm) {
			width: calc(100% + 30px);
			max-width: calc(100% + 30px);
			margin-top: 120px;
			margin-left: -15px;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}
	}
}

.qwiz {
	&-subtitle {}

	&-block {
		display: flex;

		@media(min-width:$sm) {
			padding: 32px;
			background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
			border-radius: 24px;
			box-shadow: 0px 20px 40px rgba(2, 0, 83, 0.12);
		}
	}

	&-fields {
		display: flex;
		flex-direction: column;
		width: 530px;
		height: 324px;
		overflow: auto;
		padding: 24px;
		background: #FFFFFF;
		border-radius: 8px;
		gap: 22px;

		@media(max-width:$lg) {
			width: 100%;
		}
	}

	&-content {
		width: calc(100% - 512px - 48px);

		@media(max-width:$lg) {
			width: 100%;
		}
	}

	&-img {
		width: 512px;
		min-width: 512px;
		margin-left: 48px;

		@media(max-width:$lg) {
			display: none;
		}

		&-item {
			overflow: hidden;
			border-radius: 24px;
		}
	}

	&-btns {
		display: flex;
		margin-top: 32px;
		gap: 8px;
	}

	&.stopped &-next {
		opacity: 0.4;
		pointer-events: none;
	}
}

.examples {
	overflow: hidden;
	background: rgba(255, 255, 255, 0.6);

	&-items {
		&-slider {
			&>.swiper {
				width: calc(100% + 80px);
				margin: -40px;
				padding: 40px;
			}
		}

		&-pagination {
			--swiper-theme-color: var(--color-text);
			display: flex;
			justify-content: center;
			margin-top: 24px;
		}
	}

	&-tabs {
		display: flex;
		justify-content: center;
		gap: 38px;

		@media(max-width:$md) {
			gap: 20px;
		}

		@media(max-width:$sm) {
			justify-content: flex-start;
			gap: 10px;
		}
	}

	&-tab {
		background: var(--bg1) !important;
		border-radius: var(--size);

		@media(max-width:$sm) {
			--size: 40px;
			font-size: 14px;
		}

		&.tab-active{
			background: #0A0A0A !important;
			color: #fff;
		}
	}
}

.examples-item {
	display: flex;
	overflow: hidden;
	padding: 32px;
	background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
	border: 2px solid rgba(255, 255, 255, 0.33);
	border-radius: 24px;
	box-shadow: 0px 20px 40px rgba(2, 0, 83, 0.12);
	gap: 22px;

	@media(max-width:$lg) {
		flex-direction: column;
		padding-right: 20px;
		padding-left: 20px;
	}

	@media(max-width:$sm) {
		padding-top: 0;
		padding-right: 15px;
		padding-left: 15px;
		border-radius: 16px;
	}


	&-gallery {
		position: relative;
	}

	&-slider {
		width: 542px;
		height: 500px;
		overflow: hidden;
		border-radius: 24px;

		@media(max-width:$lg) {
			width: calc(100% + 40px);
			height: 300px;
			margin-left: -20px;
			padding-right: 40px;
			padding-left: 40px;
			border-radius: 0;
		}

		@media(max-width:$sm) {
			width: calc(100% + 30px);
			height: 250px;
			margin-left: -15px;
			padding-right: 0;
			padding-left: 0;
		}
	}

	&-slide {
		width: 100%;
		overflow: hidden;
		border-radius: 24px;

		@media(max-width:$sm) {
			border-radius: 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
		}

	}

	&-thumbs {
		position: absolute;
		bottom: 24px;
		left: 28px;
		width: calc(100% - 56px);
		cursor: pointer;
		z-index: 2;

		@media(max-width:$lg) {
			display: none;
		}
	}

	&-thumb {
		max-width: calc(25% - 24px * 3 / 4);
		height: 75px;
		overflow: hidden;
		border-radius: 8px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
		}

		&.swiper-slide-thumb-active {
			border: 2px solid #FFFFFF;
		}
	}

	&-content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 32px 40px 40px;
		background: linear-gradient(310.4deg, #442929 0%, rgba(68, 41, 41, 0) 100%), #0A0A0A;
		border-radius: 24px;
		color: #fff;

		@media(max-width:$sm) {
			padding: 0;
			background: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: var(--color-text);
		}
	}

	&-props {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;

		@media(max-width:$sm) {
			gap: 10px;
		}
	}

	&-form .form-input {
		@media(min-width:$sm) {
			background: #0A0A0A;
			color: #fff;
		}
	}

	&-review {
		width: 100%;
		padding: 24px;
		background:
			url("../img/example-review-dots.png") no-repeat right bottom,
			linear-gradient(273.8deg, rgba(79, 255, 128, 0.09) 0%, rgba(79, 255, 128, 0) 65.53%), rgba(62, 63, 64, 0.3);
		border-radius: 24px;

		@media(max-width:$sm) {
			width: calc(100% + 30px);
			margin-left: -15px;
			padding: 15px;
			border-radius: 0;
		}

		&-quote {
			display: inline-block;
			margin-bottom: -24px;
			font-size: 48px;
			line-height: 1;

			@media(max-width:$sm) {
				display: none;
			}
		}
	}
}

.services {
	background: #FFFFFF;
}

.services-item {
	position: relative;
	padding: 8px;
	background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);

	border-radius: 24px;
	box-shadow: 0px 20px 40px rgba(2, 0, 83, 0.08);
	cursor: pointer;

	@media(max-width:$sm) {
		border-radius: 16px;
	}

	&-img {
		height: 204px;
		overflow: hidden;
		border-radius: 22px;

		@media(max-width:$sm) {
			height: 150px;
			border-radius: 16px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-content {
		padding: 16px;

		@media(max-width:$sm) {
			padding: 12px 0 4px;
		}
	}
}

.facture {
	overflow: hidden;

	&-item {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		position: relative;
		max-width: 400px;
		height: 464px;
		overflow: hidden;
		margin: 0 auto;
		border-radius: 24px;

		@media(max-width:$sm) {
			border-radius: 16px;
		}

		&-img {
			position: absolute;
			inset: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-content {
			display: flex;
			align-items: center;
			position: relative;
			padding: 32px 24px;
			color: #fff;
			z-index: 2;

			@media(max-width:$sm) {
				padding: 16px;
			}
		}

		&-min {
			position: relative;
			margin-left: auto;

			&:before {
				content: '';
				position: absolute;
				inset: -5px;
				border: 1px solid #FF83BE;
				border-radius: 24px;
			}

			img {
				border-radius: 22px;
			}
		}
	}
}

.canvas {
	background:
		radial-gradient(at 0% 0%, rgba(241, 147, 255, 0.15), rgba(0, 0, 0, 0) 40%),
		radial-gradient(at 100% 100%, rgba(81, 143, 136, 0.2), rgba(0, 0, 0, 0) 40%),
		#0A0A0A;
	color: #fff;

	&-item {
		position: relative;
		padding: 8px;
		background: #202021;

		border-radius: 24px;
		box-shadow: 0px 20px 40px rgba(2, 0, 83, 0.08);
		color: #fff;
		cursor: pointer;

		@media(max-width:$sm) {
			border-radius: 16px;
		}

		&:hover {
			background: #333334;
		}

		&-img {
			height: 204px;
			overflow: hidden;
			border-radius: 22px;

			@media(max-width:$sm) {
				height: 150px;
				border-radius: 16px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-content {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			padding: 16px;

			@media(max-width:$sm) {
				padding: 12px 0 4px;
			}
		}

		&-cost {
			background: linear-gradient(270.31deg, rgba(117, 191, 243, 0.8) 0.13%, rgba(117, 191, 243, 0) 64.36%), #FFC4EB;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
		}

		&-country {
			display: flex;
			padding: 8px;
			background: rgba(62, 63, 64, 0.3);
			border-radius: 8px;
			gap: 8px;
		}
	}
}

.pray {
	overflow: hidden;
	background: #FFFFFF;

	@media(max-width:$md) {
		padding-top: 0;
	}

	&-block {

		display: flex;
		margin-bottom: 74px;
		background: #F1F1F8;

		@media(min-width:$md) {
			padding: 48px;
			border-radius: 24px;

		}

		@media(max-width:$lg) {
			flex-direction: column;
			margin-bottom: 48px;
		}

		@media(max-width:$md) {
			width: calc(100% + 30px);
			margin-left: -15px;
			padding: 24px 15px;
		}

		&-cards {

			display: grid;
			grid-template-columns: 2fr 3fr;
			grid-gap: 16px;
			width: 674px;
			min-width: 674px;
			margin-left: 52px;

			@media(max-width:$lg) {
				width: 100%;
				min-width: 0;
				margin-top: 40px;
				margin-left: 0;
			}

			@media(max-width:$md) {
				grid-template-columns: 1fr;
			}
		}

		&-clients {
			padding: 24px;
			background: #FFFFFF;
			border-radius: 24px;

			@media(max-width:$sm) {
				border-radius: 18px;
			}
		}

		&-card {
			padding: 24px;
			background:
				url("../img/pray-card-dots.png") no-repeat top right,
				linear-gradient(146.45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
				#63B56B;
			border-radius: 24px;
			color: #fff;

			@media(max-width:$sm) {
				border-radius: 18px;
			}
		}

		&-img {
			grid-column: 1/-1;
			overflow: hidden;
			border-radius: 24px;

			@media(max-width:$sm) {
				border-radius: 18px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&-title {
		margin-bottom: 38px;

		@media(max-width:$md) {
			margin-bottom: .6em;
		}
	}

	&-prop {
		display: flex;
		align-items: center;

		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 54px;
			height: 54px;
			margin-right: 18px;
			background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
			border: 2px solid rgba(255, 255, 255, 0.33);
			border-radius: 18px;
			box-shadow: 0px 20px 40px 0px #02005314;
		}
	}


}

.steps {
	display: grid;
	grid-template-columns: repeat(6, 1fr);


	@media(max-width:$lg) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px 0;

	}

	@media(max-width:$sm) {
		grid-template-columns: repeat(2, 1fr);
	}

	&-item {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		&-img {
			width: 138px;
			height: 136px;
			padding: 8px;
			background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
			border: 2px solid rgba(255, 255, 255, 0.33);
			border-radius: 24px;
			box-shadow: 0px 20px 20px 0px #0200530F;
			
			@media(max-width:$sm) {
				width: 95%;
				border-radius: 18px;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 22px;
				object-fit: cover;

				@media(max-width:$sm) {
					border-radius: 16px;
				}
			}

		}

		&-line {
			position: relative;
			width: 100%;
			margin-top: 16px;
			margin-bottom: 40px;
			border-top: 1px solid #D9D9D9;

			@media(max-width:$sm) {
				margin-bottom: 20px;
			}

			&:before {
				content: '';
				position: absolute;
				top: calc(50% - 5px);
				left: 0;
				width: 10px;
				height: 10px;
				background: #FFFFFF;
				border: 1px solid #D9D9D9;
				border-radius: 50%;
			}
		}
	}
}

.features {
	overflow: hidden;
	background:
		url("../img/features-dots-1.png") no-repeat right top,
		url("../img/features-dots-2.png") no-repeat left bottom,
		radial-gradient(at 0% 0%, rgba(136, 246, 208, 0.15), rgba(0, 0, 0, 0) 40%),
		radial-gradient(at 100% 100%, rgba(143, 82, 81, 0.2), rgba(0, 0, 0, 0) 40%),
		#0A0A0A;
	color: #fff;

	@media(max-width:$lg) {
		background:
			radial-gradient(at 0% 0%, rgba(136, 246, 208, 0.15), rgba(0, 0, 0, 0) 40%),
			radial-gradient(at 100% 100%, rgba(143, 82, 81, 0.2), rgba(0, 0, 0, 0) 40%),
			#0A0A0A;
	}

	&-grid {
		display: flex;
		flex-wrap: wrap;
		gap: 18px;

		@media(max-width:$lg) {
			gap: 16px;
		}
	}

	&-item {
		overflow: hidden;
		border-radius: 24px;
		color: var(--color-text);

		@media(max-width:$sm) {
			border-radius: 18px;
		}

		&--1 {
			width: 414px;
			padding: 54px 42px;
			padding-bottom: 296px;
			background:
				url("../img/features-1.png") no-repeat bottom,
				linear-gradient(180deg, rgba(0, 0, 0, 0) 25.96%, #312217 55.22%),
				#0A0A0A;
			color: #fff;

			@media(max-width:$lg) {
				display: flex;
				align-items: center;
				flex-direction: column;
				order: -10;
				width: calc(50% - 8px);
				padding: 24px 15px;
				padding-top: 80px;
				padding-bottom: 100px;
				background:
					// url("../img/features-1.png") no-repeat bottom,
					linear-gradient(180deg, rgba(0, 0, 0, 0) 25.96%, #312217 55.22%),
					#0A0A0A;
				text-align: center;

				br {
					display: none;
				}
			}

			@media(max-width:$md) {
				padding-top: 60px;
				padding-bottom: 60px;
			}

			@media(max-width:$sm) {
				width: 100%;
				padding-top: 32px;
				padding-bottom: 60vw;
				background:
					url("../img/features-1.png") no-repeat bottom / contain,
					linear-gradient(180deg, rgba(0, 0, 0, 0) 25.96%, #312217 55.22%),
					#0A0A0A;
			}
		}

		&--1 &-title {
			background: linear-gradient(270.31deg, rgba(117, 191, 243, 0.8) 0.13%, rgba(117, 191, 243, 0) 64.36%), #FFE3F6;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
		}

		&--2 {
			flex-grow: 1;
			padding: 54px;
			background:
				url("../img/features-2.jpg") no-repeat center / cover,
				#fff;

			@media(max-width:$lg) {
				padding-bottom: 150px;
			}
		}

		&--2 &-title {
			background: linear-gradient(270.31deg, rgba(80, 215, 85, 0.5) 0.13%, rgba(243, 223, 117, 0) 64.36%), #0A0A0A;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
		}

		&--3 {
			flex-grow: 1;
			padding: 65px 42px;
			background:
				url("../img/features-3.png") no-repeat center / cover,
				linear-gradient(146.45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), #6863B5;
			color: #fff;

			@media(max-width:$sm) {
				padding: 40px 24px;

				br {
					display: none;
				}
			}
		}

		&--3 &-title {
			background: linear-gradient(270.31deg, rgba(117, 191, 243, 0.8) 0.13%, rgba(117, 191, 243, 0) 64.36%), #FFE3F6;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
		}

		&--4 {
			width: 336px;

			@media(max-width:$lg) {
				order: -9;
				width: calc(50% - 8px);
			}

			@media(max-width:$sm) {
				width: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-title {
			width: max-content;
			max-width: 100%;
			margin-bottom: 18px;
			font-size: 32px;
			font-weight: 600;

			@media(max-width:$md) {
				font-size: 24px;
			}
		}

		&-desc {
			@media(max-width:$md) {
				font-size: 14px;
			}
		}
	}
}

.form {
	overflow: hidden;
	padding-bottom: 0;

	@media(max-width:$md) {
		padding: 0;
	}

	&-block {
		display: flex;
		padding: 16px;
		background: url("../img/form-block-bg.jpg") no-repeat center / cover;
		border-radius: 24px;

		@media(max-width:$lg) {
			flex-direction: column;
		}

		@media(max-width:$md) {
			padding: 40px 15px;
			border-radius: 0;
		}
	}

	&-fields {
		width: 426px;
		margin-left: auto;
		padding: 48px;
		background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%);
		backdrop-filter: blur(10px);

		border-radius: 24px;
		box-shadow: 0px 20px 40px rgba(2, 0, 83, 0.08);

		@media(max-width:$lg) {
			margin-right: auto;
		}

		@media(max-width:$sm) {
			width: 100%;
			padding: 32px 15px;
			border-radius: 18px;
		}
	}

	&-title {
		margin-bottom: 32px;
		font-size: 32px;
		font-weight: 600;

		@media(max-width:$md) {
			font-size: 24px;

			br {
				display: none;
			}
		}

		@media(max-width:$sm) {}
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&-item {
			display: flex;
			align-items: center;
		}
	}

	&-content {
		padding: 48px 64px;

		@media(max-width:$md) {
			margin-bottom: 32px;
			padding: 0;
		}
	}
}

.reviews {
	// padding-left: 15px;
	// padding-right: 15px;
	overflow: hidden;

	&-slider {
		overflow: visible;

		.swiper-wrapper {
			transition-timing-function: linear;
		}
	}

	&-item {

		// for slider
		width: 360px;
		padding: 46px 32px;
		background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
		border-radius: 24px;
		box-shadow: 0px 20px 40px 0px #02005314;

		@media(max-width:$sm) {
			width: 280px;
			padding: 24px 15px;
			border-radius: 18px;
		}

		&-avatar {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 41px;
			height: 41px;
			background: linear-gradient(310.4deg, #321F1F 0%, rgba(50, 31, 31, 0) 100%), #0A0A0A;
			border-radius: 50%;

			&:before {
				content: '';
				position: absolute;
				inset: -7px;
				border: 2px solid #FF83BE;
				border-radius: 50%;
			}
		}
	}
}

.contact {
	position: relative;

	@media(max-width:$md) {
		height: 400px;
	}

	&-content {
		position: relative;
		width: 370px;
		padding: 52px 32px;
		background: radial-gradient(98.48% 326.98% at 0% 3.35%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
		backdrop-filter: blur(20px);
		border: 2px solid rgba(255, 255, 255, 0.33);
		border-radius: 24px;
		box-shadow: 0px 20px 40px 0px #02005314;
		z-index: 2;

		@media(max-width:$md) {
			display: none;
		}
	}

	&-title {
		margin-bottom: 32px;
	}

	&-item {
		display: flex;
		align-items: center;

		&-img {
			margin-right: 12px;
		}
	}

	&-map {
		position: absolute;
		inset: 0;
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 32px;
	background: #0A0A0A;
	color: #fff;

	@media(max-width:$lg) {
		align-items: flex-start;
		flex-direction: column;
		gap: 20px;
	}

	&-logo {
		width: 174px;

		@media(max-width:$md) {
			width: 140px;
		}

		@media(max-width:$sm) {
			width: 100px;
		}
	}

	&-soc {
		display: flex;
		gap: 12px;
	}
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 12px;
	background: #0A0A0A;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	color: #fff;
}

.dialog-form {
	width: 426px;
	max-width: 100%;
	padding: 48px;
	background: #FFFFFF;
	border-radius: 24px;

	@media(max-width:$sm) {
		width: 100%;
		padding: 32px 15px;
		border-radius: 18px;
	}
}

.dialog-policy {
	padding: 48px;
	background: #FFFFFF;
	border-radius: 24px;
	box-shadow: 0px 20px 40px rgba(2, 0, 83, 0.12);

	@media(max-width:$sm) {
		width: 100%;
		padding: 32px 15px;
		border-radius: 18px;
	}

	&-title {
		width: max-content;
		max-width: 100%;
		margin-bottom: 28px;
		background: linear-gradient(270.31deg, rgba(80, 215, 85, 0.5) 0.13%, rgba(243, 223, 117, 0) 64.36%), #0A0A0A;
		-webkit-background-clip: text;
		background-clip: text;
		font-size: 32px;
		font-weight: 600;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;

		@media(max-width:$md) {
			font-size: 24px;
		}

	}
}

.wow {
	// opacity: 0;
	visibility: hidden;
}